/* HopList Component Styles */

.hoplist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  --start-icon-color: #6B7280;
  --timeline-color: #6B7280;
  --step-icon-color: #6B7280;
  --end-icon-color: #6B7280;
}

.hoplist-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hoplist-start-icon {
  height: 2.5rem;
  width: 2.5rem;
  border: 5px solid var(--start-icon-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoplist-item {
  display: flex;
  flex-direction: column;
}

.hoplist-timeline-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px !important;
  margin: 0px !important;
}

.hoplist-timeline-container--end {
  max-width: 17.5rem;
  justify-content: center;
}

.hoplist-timeline-container--default {
  max-width: 12.5rem;
  justify-content: flex-end;
}

.hoplist-timeline-line {
  background-color: var(--timeline-color);
  height: 0.25rem;
}

.hoplist-timeline-line--short {
  width: 5rem;
}

.hoplist-timeline-line--long {
  width: 10rem;
}

.hoplist-icon {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoplist-icon--end {
  border: 5px solid var(--end-icon-color);
}

.hoplist-icon--default {
  border: 3px solid var(--step-icon-color);
}

.hoplist-name {
  display: flex;
  justify-content: end;
  max-width: 12.5rem;
  font-family: monospace;
  height: 2rem;
}

.hoplist-timestamp {
  display: flex;
  justify-content: end;
  max-width: 12.5rem;
  font-family: monospace;
  font-size: 12px;
  height: 2rem;
} 