/* HopList Component Styles */

.hoplist-container {
  display: flex;
  justify-content: center;
  width: 100%;
  --start-icon-color: #6b7280;
  --timeline-color: #6b7280;
  --step-icon-color: #6b7280;
  --end-icon-color: #6b7280;
}

.hoplist-scroll-container {
  width: 80%;
  overflow-x: auto;
  padding: 1rem 0;
}

.hoplist-timeline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.hoplist-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.hoplist-timeline-elements {
  display: flex;
  align-items: center;
  position: relative;
}

.hoplist-timeline-start {
  display: flex;
  align-items: center;
  position: relative;
}

.hoplist-timeline-line {
  height: 0.25rem;
  width: 10rem; /* Fixed width for the line between items */
  background-color: var(--timeline-color);
}

.hoplist-icon {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* To appear above the timeline */
  z-index: 1;
}

.hoplist-start-icon {
  border: 3px solid var(--start-icon-color);
}

.hoplist-end-icon {
  border: 3px solid var(--end-icon-color);
}

.hoplist-step-icon {
  border: 3px solid var(--step-icon-color);
}

.hoplist-name,
.hoplist-timestamp {
  padding-top: 0.5rem;
  font-family: monospace;
  white-space: nowrap;
  text-align: left;
}

.hoplist-timestamp {
  font-size: 12px;
}
